/* css styles */
/* Center all page titles */
h1.title {
  text-align: center;
}
h2.subtitle {
  text-align: center;
}

/* Navbar background and text color */
.navbar {
  background-color: purple !important;
}

.navbar a, .navbar-brand {
  color: white !important;
}
